node_modules/
*storybook.log

.yarn

# logs
logs
*.log
npm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# dependency directories
node_modules/
jspm_packages/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# webpack
build/
dist/

# nx
.tmp/
nx-report/


coverage/
.nx/
.nx-results/
.nx-cache/
nx.json
.pnp.js
.pnp.js.map

# next.js
.next/
